<% if resource.errors.any? %>
  <div class="alert alert-danger" id="error_explanation">
    <h4>
      Cохранение не удалось, <%= I18n.t :error, count: resource.errors.count %>:
    </h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
