<h1><%= t('events.events') %></h1>

<div class="buffer-both">
  <%= link_to t('events.create'), new_event_path, class: 'btn btn-success' %>
</div>

<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
</div>
