<div class="event-photo buffer-both">
  <%= link_to image_tag(photo.photo.variant(resize_to_fit: [200, 200])), url_for(photo.photo) %>

  <%= t('events.photos.added') %>
  <%= render partial: 'users/user', object: photo.user %>
</div>
